@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;

#app_header {
    background-color: $ygo_white;
    color: $ygo_dark;
    display: flex;

    .logo {
        width: 180px;
        margin-right: 1rem;
    }

}

#app_main {
    background-color: $ygo_primary;
    height: 300px;
}